.footer {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 0.875rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  a {
    color: var(--mantine-color-anchor);

    &:hover {
      text-decoration: none;
    }
  }
}
