.footer {
  border-top: 1px solid
    light-dark(
      color-mix(in srgb, var(--mantine-color-gray-3) 30%, transparent),
      color-mix(in srgb, var(--mantine-color-dark-4) 40%, transparent)
    );
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-xl) 0;
  text-align: center;

  & a {
    color: var(--mantine-color-text);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
