.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  & > * {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.search {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.main {
  min-height: 100vh;
}
