@tailwind components;
@tailwind utilities;

body {
  @apply px-4 py-2 text-xl;
}

.button {
  @apply p-4 text-xl bg-gray-300 border border-gray-500 rounded-md text-gray-900 no-underline hover:bg-gray-500 hover:text-gray-100 cursor-pointer;
}

@media (max-width: 640px) {
  .radar {
    aspect-ratio: auto 600 / 550;
    height: auto;
    width: 100%;
  }
}
