.header {
  @apply flex justify-between items-center;
}

.button {
  @apply p-2;
}

.searchForm {
  @apply grid grid-cols-12 gap-2;
}

.searchInput {
  @apply p-2 col-span-10;
}

.searchButton {
  @apply col-span-2;
}

.updated {
  @apply my-4;
}

.time {
  @apply font-bold;
}

.forecastContainer {
  @apply grid md:grid-cols-2 gap-6;
}

.forecast {
  @apply p-4 bg-gray-300;
}

.currently {
  @apply mb-4;
}

.details {
  @apply pb-3;
}

.footer {
  @apply my-4 text-center;
}

@media (max-width: 640px) {
  .radar {
    aspect-ratio: auto 600 / 550;
    height: auto;
    width: 100%;
  }
}
